<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post - Rafiki Connect</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/post.css">
</head>
<body>
    <div class="modal" id="create-post-modal">
        <div class="modal-content">
            <span class="close-modal">&times;</span>
            <h2>Create New Post</h2>
            <button class="post-option">Image</button>
            <button class="post-option">Video</button>
            <button class="post-option">Text</button>
            <button class="post-option">Event</button>
            <button class="post-option">Group</button>
        </div>
    </div>
    <script src="/static/js/post.js"></script>
</body>
</html>

